/* SECCION FOOTER - Seccion Final */
.footer{
    background: #929d79;
    background-image: linear-gradient(rgba(148, 159, 122, 0.6), rgba(148, 159, 122, 0.6)), url(../media/fondo.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    height: 40%;
}

.footer li{
    list-style: none; 
}

.footer ul li a{
    color: #fff
}

/* FOOTER LOGO */
.footer-logo{
    flex:1 1 auto;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-logo h4{
    font-size: 40px; 
    font-weight: 500;
    color: #fff;
}

/* FOOTER ENLACES */
.footer-enlaces{
    flex:1 1 auto;
    height: 300px; 
    text-align: left; 
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 1px;     
}

.footer-enlaces ul{
    padding-left: 0px; 
}

/* FOOTER CONTACTO */
.footer-contacto{
    flex:1 1 auto;
    height: 300px;
    text-align: left; 
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
    letter-spacing: 1px;      
}

.footer-contacto ul{
    padding-left: 0px;
}

.footer-contacto li a i{
    margin-right: 10px;
}

       
@media only screen and (max-width: 768px) {
.footer{
    display: flex;
    flex-flow: column;
    height: auto;
    align-items: center;
    }
    
.footer-logo{
    height: 90px;
    }
    
/* FOOTER ENLACES */
.footer-enlaces{
    height: 200px; 
    text-align: center;       
    }
    
/* FOOTER CONTACTO */
.footer-contacto{
    height: 220px;
    text-align: center; 
    padding-bottom: 30px;
    padding-top: 20px;      
    }
}