/* Estilo general */
:focus{
    outline: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.contenido-prod{
    background: #c6bfa6;
    display: flex;
    overflow: hidden;
}

/* foto de producto */
.producto{
    width: 38%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.producto h2{
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    color: #fff;
}

.img-container{
    height: 80%;
    width: 80%; 
    border: 1px solid rgba(0, 0, 0, .2); 
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.img{
    max-width: 50%;
    max-height: 50%;
}

.producto button{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;

    background-color: #929D79;
    border-radius: 5px;
    border: none;
    outline: none;

    color: #fff;
    font-size: 16px;
    font-family: "montserrat";
    font-weight: 20;
}

/* info de producto */
.formulario {
    width: 62%;
    padding: 30px 40px;
}

.formulario h2{
    margin-bottom: 60px;
    font-size: 3vw;
    font-weight: 100;
    text-align: left;
    color: #fff;
}

.formulario .info{
    display: flex;
    flex-direction: column;
    color: transparent;
}

label{
    font-weight: 20;
    color: #fff;
}

.formulario .info textarea{
    max-width: 100%;
    min-width: 100%;
    max-height: 90px;
}

input,
textarea{
    width: 100%;
    padding: 8px 0 5px;
    margin-bottom: 20px;
    background: transparent;

    border: none;
    border-bottom: 2px solid #fff;
    
    font-family: sans-serif;
    color: hsla(0, 0%, 35%, 0.555);
    font-size: 14px;
    font-weight: 20;
}

.formulario .info input[type="submit"]{
    width: 180px;
    background: #929D79;
    padding: 10px;
    align-self: flex-end;
    border-radius: 5px;
    border: none;

    color: #fff;
    font-size: 16px;
    font-family: "montserrat";
    font-weight: 20;
    cursor: pointer;
}

@media all and (max-width:720px) {
    .contenido-prod{
        flex-direction: column;
    }
    .producto{
        width: 100%;
    }
    .producto h1{
        margin-bottom: 30px;
    }
    .img-container{
        height: 80%;
        width: 60%;
    }
    .formulario{
        width: 100%;
    }
    .info{
        width: 80%;
    }
}