<<<<<<< HEAD
/* SECCIÓN HEADER TÍTULOS *//*buscar usar porcentajes en medidas*/ 
h2{
    font-size: 4.2vw;
}
/* header títulos */
.definicion-retrueque h1, h2{
    font-size: 40px;
=======

/* SECCIÓN HEADER TÍTULOS *//*buscar usar porcentajes en medidas*/ 
h2{
    font-size: 4.2vw;

/* header títulos */
.definicion-retrueque h1, h2{
    font-size: 40px;

>>>>>>> c0e4b51baa087ba3f3bd51dd423aadec774cbada
    color: #fff;
    letter-spacing: 5px;
    font-weight: 300; 
    text-align: right;
<<<<<<< HEAD
=======

>>>>>>> c0e4b51baa087ba3f3bd51dd423aadec774cbada
    padding-bottom: 10px;
}

h3{
    font-size: 2.5vw;
    color: #fff;
    letter-spacing: 5px;
    font-weight: 100; 
    text-align: left;
    padding: 16px;
    align-self: flex-start;
}

p{
    font-size: 16px;
    font-size: large; 
}

/* SECCIÓN GRID */
.grid-quienes-somos {
    background-color: #c6bfa6; 
    color: #fff; /*texto*/
    padding: 20px;
    display: grid;
    gap: 3em;
    grid-template-columns: 30% auto;
    max-height: 100%;
    max-width: 100%;
    justify-items: start;
}

.articulos{
    background-color: #929d792d;
    color: #fff;
    margin-top: 5px;
    margin-bottom: auto;
    padding: 20px;
    font-weight: 100; 
    text-align: justify; 
}

.imagencita{
    max-height: 100%;
    max-width: 100%;
}

#primera-linea{
    margin-top: auto;
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: justify;
}

#definicion-retrueque{
    margin-top: auto;
    margin-bottom: auto;
    grid-column: 2/3;
    grid-row: 2/4;
    text-align: justify;
}

#vision-mision-valor{
    grid-column: 1/2;
    grid-row: 1/4;  
}

 
@media all and (max-width:720px) {
/* MAIN SECTION */
    #vision-mision-valor{
        grid-column: 1/3;
        grid-row: 1/2;
    }   
    #primera-linea{
        margin-bottom: auto;
        grid-column: 1/3;
        grid-row: 2/3;
    }   
    #definicion-retrueque{
        margin-bottom: auto;
        grid-column: 1/3;
        grid-row: 3/4;
    }
<<<<<<< HEAD
=======
}

/*.grid-quienes-somos h2{
    text-align: left;
    padding: 16px;
    text-align: left; 
    font-weight: 400;
    align-self: flex-start;
}*/

.grid-quienes-somos h3{
    font-size: 16px;
    color: #fff;
    letter-spacing: 5px;
    font-weight: 100; 
    text-align: left;
    padding: 16px;
    align-self: flex-start;
}

/* header títulos */
.grid-quienes-somos {
    background-color: #c6bfa6;;

    /*width: 95%;
    max-width: 1000px;
    margin: 1.6em auto;
    grid-template-columns: repeat(3, 1fr);*/

    gap: 1.6em;
    display: grid;
}

.grid-quienes-somos > .primera-linea,
.grid-quienes-somos > .vision-mision-valor,
.grid-quienes-somos > .definicion-retrueque,
.grid-quienes-somos > div {
    padding: 20px;
    color: #fff; 
}

.grid-quienes-somos > .primera-linea{
    margin-top: auto;
    grid-column: 2/4;
    grid-row: 1/2;
    text-align: justify;
}
.grid-quienes-somos > .definicion-retrueque{
    grid-column: 2/4;
    grid-row: 2/4;
    text-align: justify;
}

.grid-quienes-somos > .vision-mision-valor{
    /*grid-column: span 3;*/ 
    grid-column: 1/2;
    grid-row: 1/4;
}

/* contenedor */
.vision-mision-valor > .articulos{
    background-color: #929d792d;
    padding: 20px;
    margin-top: 5px;
    font-weight: 100;   
>>>>>>> c0e4b51baa087ba3f3bd51dd423aadec774cbada
}